.wrapper{
    
}

.speech {
    font-size: 1.1em;
    color: #fff;
    position: relative;
    padding: 1em;
    border-radius: 10px;
    margin: 0.5em 1em;
    max-width: 15em;
}

.left{
    align-self: start;
    background: teal;
}

.right {
    align-self: end;
    background: #F97171;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: teal;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 103%;
    bottom: 5%;
}