.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.conversations {
    width: 30%;
}

.messages {
    width: 70%;
    max-height: 100%;
    height: 100%;
}